/.idea
/.vscode

# Managed by Composer
/vendor/

###> phpunit/phpunit ###
.phpunit.result.cache
###< phpunit/phpunit ###

###> laravel/laravel ###
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
!.env*example
###< laravel/laravel ###

###> friendsofphp/php-cs-fixer ###
.php-cs-fixer.php
.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
